$PoppinsSemibold: "Poppins-SemiBold";
$PoppinsRegular: "Poppins-Regular";
$Poppins-Medium : "Poppins-medium";
$btnColor : "#263238";
$title-color :"#000000";
$card-color: "#F5F5F5";
$money-btn : "#EEEEEE";
$text-color : "#8F95A5";